<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timestamp.calculator"
    android:versionCode="91"
    android:versionName="1.6.0.2" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:windowSoftInputMode="stateUnchanged">
        
        <activity android:name=".MainActivity" android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ConvertingActivity" android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectFormActivity" android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" android:label="@string/menu_settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name=".AboutActivity" android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name=".HelpActivity" android:label="@string/menu_help">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name=".FormatSettingActivity" android:label="@string/mngFormat">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>		
		
		<receiver android:name=".TCAppWidgetProvider" android:label="@string/title_widget_main">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
		</receiver>

        <receiver android:name=".TCAppHexWidgetProvider" android:label="@string/title_hexwidget_main">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info_hex"/>
        </receiver>

		<service android:name=".TCAppWidgetService" android:exported="false">
		    <intent-filter>
		        <action android:name="com.timestamp.calculator.TCAppWidgetService"/>
		    </intent-filter>
		</service>

        <receiver android:name="com.timestamp.calculator.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
